*{
    margin: 0;
    padding: ;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    height: 15vh;
}
header h3{
    font-size: 30px;
}
.primario{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 11vw;
    border: 2px solid;
    margin-left: 1rem;
}
ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 15vw;
    margin-left: 60rem;
}
a{
    display: flex;
    align-items: center;
    margin-top: 2rem;
}
#banner{
    height: 50vh;
    background-image: url("assets/Group\ 90.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.secundario{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    border: 2px solid;
}